body {
  background: rgb(161, 106, 152);
}

.o {
  display: flex;
  justify-content: center;
}

input[type="text"]:hover  {
  border: 3px solid lawngreen;

  background-color: rgb(255, 199, 199);
}

input {
  width: 200px;
  height: 30px;
  position: relative;
  top: 37px;
  right: 50px;
}

.heart {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  transform-origin: center;
  position: relative;
  background: white;
  margin: 50px;
  left: -30px;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}

.heart::before {
  left: -10px;
}

.heart::after {
  top: -10px;
}

/* .heart:hover::after,
.heart:hover,
.heart:hover::before {
  background: red;
} */

.box1 {
  border: 0.4ch solid coral;
  background: white;
}



.box1 {
  border: 0.4ch solid coral;
  background: white;
}

/* Add some color to the heart shape */
.heart {
  background: linear-gradient(45deg, rgb(153, 29, 190), rgb(28, 207, 177));
}
.heart::after {
  background: linear-gradient(45deg, rgb(153, 29, 190), rgb(28, 207, 177));
}
.heart::before{
  background: linear-gradient(45deg, rgb(153, 29, 190), rgb(28, 207, 177));
}

.gfg1 {
  font-size: 50px;
  color: rgb(194, 162, 21);
  text-shadow: 2px 2px 4px red;
}
